body {
  padding-bottom: 60px; }
  @media (min-width: 768px) {
    body {
      /*background: yellow;*/
      padding-bottom: 120px; } }

h1 {
  font-size: 34px;
  line-height: 42px;
  font-family: "Replica-Bold", sans-serif !important;
  font-weight: 700;
  margin: 0px;
  overflow: visible;
  padding: 0px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 42px;
      line-height: 48px; } }
  @media (min-width: 1280px) {
    h1 {
      font-size: 42px;
      line-height: 48px; } }
  @media (min-width: 1440px) {
    h1 {
      font-size: 60px;
      line-height: 68px; } }
  @media (min-width: 1600px) {
    h1 {
      font-size: 96px;
      line-height: 106px; } }

h2 {
  font-size: 28px;
  font-family: "Replica-Bold", sans-serif !important;
  font-weight: 700;
  margin: 0px;
  overflow: visible;
  padding: 0 0 16px 0; }
  @media (min-width: 768px) {
    h2 {
      font-size: 36px;
      padding: 0 0 24px 0; } }
  @media (min-width: 1440px) {
    h2 {
      font-size: 42px;
      padding: 0 0 40px 0; } }

h3 {
  font-size: 21px;
  font-family: "Replica-Bold", sans-serif !important;
  font-weight: 700;
  margin: 0px;
  overflow: visible;
  padding: 0 0 20px 0; }
  @media (min-width: 768px) {
    h3 {
      font-size: 32px;
      padding: 0 0 24px 0; } }

p {
  font-size: 14px;
  line-height: 24px;
  margin: 0px; }
  @media (min-width: 768px) {
    p {
      font-size: 16px;
      line-height: 28px; } }
  @media (min-width: 1280px) {
    p {
      line-height: 34px; } }
  @media (min-width: 1440px) {
    p {
      font-size: 18px; } }
  @media (min-width: 1600px) {
    p {
      font-size: 21px; } }

hr {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  list-style: none; }
  @media (min-width: 768px) {
    ul {
      font-size: 16px;
      line-height: 28px; } }
  @media (min-width: 1280px) {
    ul {
      line-height: 34px; } }
  @media (min-width: 1440px) {
    ul {
      font-size: 18px; } }
  @media (min-width: 1600px) {
    ul {
      font-size: 21px; } }

ul li::before {
  content: "\2022";
  color: #4BA8F5;
  font-weight: bold;
  display: inline-block;
  width: .8em;
  margin-left: -.8em; }
  @media (min-width: 768px) {
    ul li::before {
      width: 1em;
      margin-left: -1em; } }

.top-header {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100vw;
  top: 0px; }
  .top-header .navigation {
    position: absolute;
    width: 100%;
    /*max-width:1920px;*/
    padding: 24px 20px; }
    @media (min-width: 768px) {
      .top-header .navigation {
        padding: 40px 30px; } }
    @media (min-width: 1280px) {
      .top-header .navigation {
        padding: 40px 40px; } }
    @media (min-width: 1440px) {
      .top-header .navigation {
        padding: 40px 40px; } }
    @media (min-width: 1600px) {
      .top-header .navigation {
        padding: 40px 40px; } }
    .top-header .navigation .wf-logo {
      width: 123px;
      height: 18px; }
      @media (min-width: 768px) {
        .top-header .navigation .wf-logo {
          width: 246px;
          height: 36px; } }

.header {
  display: flex;
  justify-content: center;
  position: relative;
  background: #86939E;
  width: 100vw; }
  .header .case-study {
    position: relative;
    width: 100%;
    padding: 96px 20px 56px;
    color: #fff; }
    @media (min-width: 768px) {
      .header .case-study {
        width: 100%;
        padding: 184px 32px 72px; } }
    @media (min-width: 1280px) {
      .header .case-study {
        width: 792px;
        padding: 184px 0 128px; } }
    @media (min-width: 1440px) {
      .header .case-study {
        width: 900px;
        padding: 192px 0 136px; } }
    @media (min-width: 1600px) {
      .header .case-study {
        width: 910px;
        padding: 232px 0 160px; } }
    .header .case-study p {
      font-size: 14px;
      line-height: 21px;
      padding: 20px 0 24px; }
      @media (min-width: 768px) {
        .header .case-study p {
          font-size: 18px;
          line-height: 36px;
          padding: 32px 0 40px; } }
      @media (min-width: 1280px) {
        .header .case-study p {
          font-size: 18px;
          line-height: 36px;
          padding: 32px 0 40px; } }
      @media (min-width: 1440px) {
        .header .case-study p {
          font-size: 21px;
          line-height: 36px;
          padding: 32px 0 48px; } }
      @media (min-width: 1600px) {
        .header .case-study p {
          font-size: 24px;
          line-height: 36px;
          padding: 48px 0 56px; } }
    .header .case-study .work-spec {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-top: 32px;
      font-size: 14px;
      line-height: 21px; }
      @media (min-width: 768px) {
        .header .case-study .work-spec {
          line-height: 40px;
          padding-top: 48px; } }
      @media (min-width: 1440px) {
        .header .case-study .work-spec {
          font-size: 18px;
          padding-top: 56px; } }
      @media (min-width: 768px) {
        .header .case-study .work-spec {
          flex-direction: row; } }
      .header .case-study .work-spec #workType {
        position: relative;
        background: #FFEA01;
        width: 83px;
        padding: 6px;
        color: #000;
        font-weight: 700; }
        @media (min-width: 768px) {
          .header .case-study .work-spec #workType {
            padding: 0px 6px; } }
        @media (min-width: 1440px) {
          .header .case-study .work-spec #workType {
            width: 104px; } }
      .header .case-study .work-spec .mdash {
        position: relative;
        display: none; }
        @media (min-width: 768px) {
          .header .case-study .work-spec .mdash {
            display: block;
            padding: 0 8px; } }
        @media (min-width: 1600px) {
          .header .case-study .work-spec .mdash {
            padding: 0 12px; } }
      .header .case-study .work-spec #workSpec {
        padding-top: 8px; }
        @media (min-width: 768px) {
          .header .case-study .work-spec #workSpec {
            padding-top: 0px; } }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 48px 20px 0; }
  @media (min-width: 768px) {
    .container {
      padding: 80px 32px 0; } }
  @media (min-width: 1280px) {
    .container {
      padding: 96px 0 0 0; } }
  @media (min-width: 1600px) {
    .container {
      padding: 88px 0 0 0; } }
  .container .c-standard {
    position: relative;
    width: 100%;
    padding: 0 0 40px; }
    @media (min-width: 768px) {
      .container .c-standard {
        padding: 0 0 88px; } }
    @media (min-width: 1280px) {
      .container .c-standard {
        width: 590px;
        padding: 0 0 96px 0; } }
    @media (min-width: 1440px) {
      .container .c-standard {
        width: 670px; } }
    @media (min-width: 1600px) {
      .container .c-standard {
        width: 620px; } }
  .container .c-split {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%; }
    @media (min-width: 768px) {
      .container .c-split {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 348px; } }
    @media (min-width: 1280px) {
      .container .c-split {
        width: 794px;
        height: 386px; } }
    @media (min-width: 1440px) {
      .container .c-split {
        width: 900px;
        height: 440px; } }
    @media (min-width: 1600px) {
      .container .c-split {
        width: 910px;
        height: 446px; } }
    .container .c-split .c-split-content {
      position: relative;
      width: 100%;
      padding-bottom: 40px; }
      @media (min-width: 768px) {
        .container .c-split .c-split-content {
          width: 46%;
          padding-bottom: 0px; } }
    .container .c-split .c-split-img {
      position: relative;
      width: 100%;
      height: 280px;
      background: #E1E8EE; }
      @media (min-width: 768px) {
        .container .c-split .c-split-img {
          width: 49%;
          height: 348px; } }
      @media (min-width: 1280px) {
        .container .c-split .c-split-img {
          height: 386px; } }
      @media (min-width: 1440px) {
        .container .c-split .c-split-img {
          height: 440px; } }
      @media (min-width: 1600px) {
        .container .c-split .c-split-img {
          height: 446px; } }
  .container .c-img-split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%; }
    @media (min-width: 1280px) {
      .container .c-img-split {
        width: 794px; } }
    @media (min-width: 1440px) {
      .container .c-img-split {
        width: 900px; } }
    @media (min-width: 1600px) {
      .container .c-img-split {
        width: 910px; } }
    .container .c-img-split .c-img {
      position: relative;
      width: 47.8%;
      height: 188px;
      background: #E1E8EE; }
      @media (min-width: 768px) {
        .container .c-img-split .c-img {
          height: 414px; } }
      @media (min-width: 1280px) {
        .container .c-img-split .c-img {
          height: 468px; } }
      @media (min-width: 1440px) {
        .container .c-img-split .c-img {
          height: 506px; } }
      @media (min-width: 1600px) {
        .container .c-img-split .c-img {
          height: 536px; } }
  .container .img {
    position: relative;
    background: #E1E8EE;
    width: 100%;
    height: 188px; }
    @media (min-width: 768px) {
      .container .img {
        width: 100%;
        height: 396px; } }
    @media (min-width: 1280px) {
      .container .img {
        width: 794px;
        height: 447px; } }
    @media (min-width: 1440px) {
      .container .img {
        width: 900px;
        height: 506px; } }
    @media (min-width: 1600px) {
      .container .img {
        width: 910px;
        height: 512px; } }
  .container .c-img-cap {
    position: relative;
    width: 112%; }
    @media (min-width: 768px) {
      .container .c-img-cap {
        width: 100%; } }
    @media (min-width: 1280px) {
      .container .c-img-cap {
        width: 794px; } }
    @media (min-width: 1440px) {
      .container .c-img-cap {
        width: 900px; } }
    @media (min-width: 1600px) {
      .container .c-img-cap {
        width: 910px; } }
    .container .c-img-cap .caption {
      position: relative;
      width: 100%;
      font-size: 12px;
      color: #4BA8F5;
      padding-top: 8px;
      padding-bottom: 40px;
      padding-left: 8px;
      padding-right: 8px; }
      @media (min-width: 768px) {
        .container .c-img-cap .caption {
          width: 56%;
          font-size: 16px;
          padding-top: 16px;
          padding-bottom: 96px;
          padding-left: 0px;
          padding-right: 0px; } }
  .container .spacer {
    position: relative;
    height: 40px; }
    @media (min-width: 768px) {
      .container .spacer {
        height: 96px; } }
  .container .img-list {
    position: relative;
    padding-bottom: 40px; }
    @media (min-width: 768px) {
      .container .img-list {
        padding-bottom: 96px; } }
    .container .img-list ul {
      display: flex;
      height: 188px;
      margin: 0;
      padding: 0px; }
      @media (min-width: 768px) {
        .container .img-list ul {
          height: 414px; } }
      @media (min-width: 1280px) {
        .container .img-list ul {
          height: 468px; } }
      @media (min-width: 1440px) {
        .container .img-list ul {
          height: 506px; } }
      @media (min-width: 1600px) {
        .container .img-list ul {
          height: 536px; } }
      .container .img-list ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #E1E8EE;
        width: 157px;
        height: 188px;
        list-style: none;
        float: left;
        margin: 0 10px;
        border-radius: 0px;
        box-shadow: 0 16px 8px -12px rgba(0, 0, 0, 0); }
        @media (min-width: 768px) {
          .container .img-list ul li {
            width: 345px;
            height: 414px;
            margin: 0 10px; } }
        @media (min-width: 1280px) {
          .container .img-list ul li {
            width: 378px;
            height: 468px;
            margin: 0 28px; } }
        @media (min-width: 1440px) {
          .container .img-list ul li {
            width: 422px;
            height: 506px;
            margin: 0 28px; } }
        @media (min-width: 1600px) {
          .container .img-list ul li {
            width: 428px;
            height: 536px; } }
      .container .img-list ul li::before {
        display: none; }
  .container .mobile-order1 {
    order: 1; }
    @media (min-width: 768px) {
      .container .mobile-order1 {
        order: 0; } }
  .container .mobile-display-none {
    display: none !important; }
    @media (min-width: 1280px) {
      .container .mobile-display-none {
        display: block !important; } }
